<div>
  <form [formGroup]="frmRegistro">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div>
      <label for="clave">Clave</label>
      <input type="password" id="clave" formControlName="clave">
    </div>
    <div>
      <label for="confirmar">Repetir Clave</label>
      <input type="password" id="confirmar" formControlName="confirmar" (click)="ValidaClave()">
    </div>
    <button (click)="Registro()" [disabled]="!frmRegistro.valid" >Registrar</button>
  </form>
</div>